<%- include("Header_admin.ejs"); -%>

<div class="padding">
  <br><br>
  <h1>Here are the test reports you issued <%= adminName %></h1>
  <br>
  <% if (tuple.length===0){ %>
    <h2>You haven't issued any test reports</h2>
  <% } %>
  <% if (tuple.length>0){ %>
  <table class="table table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <% for (var i=0; i<columns.length; i++){ %>
        <th scope="col">
          <%= columns[i].name %>
        </th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% tuple.forEach((patient)=>{ %>
      <tr>
        <td>
          <%= patient.rep_no %>
        </td>
        <td>
          <%= patient.testname %>
        </td>
        <td>
          <%= patient.diagnosis %>
        </td>
        <td>
          <%= patient.pid %>
        </td>
        <td>
          <%= patient.docid %>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <% } %>
  <br>
  <a href="admin_addTestReport"><button type="button" class="btn btn-outline-primary btn-lg">Add test-report</button></a>
  <br><br>
</div>


<%- include("Footer_admin.ejs"); -%>
