<%- include("Header_doctor.ejs"); -%>

<div class="padding">
  <br><br>
  <h2>Here are the prescriptions you wrote <%= doctorName %></h2>
  <br><br>
  <% if (tuple.length===0){ %>
  <h2>You haven't written any prescription up till now</h2>
  <% } %>
  <% if (tuple.length>0){ %>
  <table class="table table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <% for (var i=0; i<columns.length; i++){ %>
        <% if (columns[i].name!='docid'){ %>
        <th scope="col">
          <%= columns[i].name %>
        </th>
        <% } %>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% tuple.forEach((patient)=>{ %>
      <tr>
        <td>
          <%= patient.pres_no %>
        </td>
        <td>
          <%= patient.medname %>
        </td>
        <td>
          <%= patient.pid %>
        </td>
        <td>
          <%= patient.adminid %>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <% } %>
  <br><br>
  <a href="doctor_addPrescriptions"><button type="button" class="btn btn-outline-primary btn-lg">Add prescription</button></a>
</div>

<%- include("Footer_doctor.ejs"); -%>
